<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Minicart.js - The minicart is a great way to improve your PayPal shopping cart integration</title>
    <meta name="keywords" content="paypal, mini cart, minicart, add to cart, paypal cart, integration, javascript" />
    <meta name="description" content="The Mini Cart is a cool new way to improve your integration with the PayPal Shopping Cart." />
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/minicart.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/code.css" />
    <link rel="alternate" type="application/atom+xml"  href="https://github.com/jeffharrell/MiniCart/commits/master.atom" title="PayPal Mini Cart RSS Feed" />
    <!--[if lte IE 8]>
    <script>(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,main,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})();</script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <header id="header"></header>
    <section id="example">
        <p>Try it out with the example below.</p>

        <div class="container">
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value="example@minicartjs.com" />
                    <input type="hidden" name="item_name" value="Unicorn" />
                    <input type="hidden" name="amount" value="2.00" />
                    <input type="hidden" name="discount_amount" value="1.00" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value="http://www.minicartjs.com/?success" />
                    <input type="hidden" name="cancel_return" value="http://www.minicartjs.com/?cancel" />
                    <strong>Unicorn</strong>
                    <ul>
                        <li>Price $2.00</li>
                        <li>Discounted $1.00</li>
                    </ul>
                    <input type="submit" name="submit" value="Add to cart" class="button" />
                </fieldset>
            </form>

            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value="example@minicartjs.com" />
                    <input type="hidden" name="item_name" value="Rainbow" />
                    <input type="hidden" name="item_number" value="ROYGBIV" />
                    <input type="hidden" name="amount" value="2.00" />
                    <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value="http://www.minicartjs.com/?success" />
                    <input type="hidden" name="cancel_return" value="http://www.minicartjs.com/?cancel" />
                    <strong>Rainbow</strong>
                    <ul>
                        <li>#ROYGBIV</li>
                        <li>Price $2.00</li>
                    </ul>
                    <input type="submit" name="submit" value="Add to cart" class="button" />
                </fieldset>
            </form>

            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value="example@minicartjs.com" />
                    <input type="hidden" name="item_name" value="Pony" />
                    <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value="http://www.minicartjs.com/?success" />
                    <input type="hidden" name="cancel_return" value="http://www.minicartjs.com/?cancel" />
                    <strong>Pony</strong>
                    <ul>
                        <li>
                            <label>
                                <select name="os0">
                                    <option value="Stripes">Stripes $3.00</option>
                                    <option value="Spots">Spots $4.00</option>
                                    <option value="Psychedelic">Psychedelic $5.00</option>
                                </select>
                            </label>
                            <input type="hidden" name="on0" value="Type" />
                            <input type="hidden" name="option_select0" value="Stripes" />
                            <input type="hidden" name="option_amount0" value="3.00" />
                            <input type="hidden" name="option_select1" value="Spots" />
                            <input type="hidden" name="option_amount1" value="4.00" />
                            <input type="hidden" name="option_select2" value="Psychedelic" />
                            <input type="hidden" name="option_amount2" value="5.00" />
                        </li>
                    </ul>
                    <input type="submit" name="submit" value="Add to cart" class="button" />
                </fieldset>
            </form>

            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" class="last">
                <fieldset>
                    <input type="hidden" name="business" value="example@minicartjs.com" />
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <input type="submit" name="submit" value="View your cart" class="button" />
                </fieldset>
            </form>
        </div>

    </section>
    <section id="readme">
        {{ content }}
    </section>
    <footer id="footer">Copyright &copy; Jeff Harrell. All rights reserved.</footer>
</div>

<script src="{{ site.path }}/js/lib/jquery.js"></script>
<script src="{{ site.path }}/js/lib/jquery.scrollTo.js"></script>
<script src="{{ site.path }}/dist/minicart.min.js"></script>
<script>
    // Reorder content from README
    var $body = $(document.body),
        $header = $('#header'),
        $readme = $('#readme');

    $readme.children().each(function () {
        if (this.tagName === 'H2') {
            return false;
        } else {
            $header.append(this);
        }
    });
    
    // I can't get Jekyll to do this properly (yet...)
    var toc = $header.find('ol > li a').click(function (e) {
        e.preventDefault();
        
        var str = $(this).text();
        
        $readme.find(':header').each(function () {
           if ($(this).text() === str) {
               $.scrollTo(this, 500);
               return false;
           }
        });
    });

    // Mini Cart
    paypal.minicart.render({
        action: 'https://www.sandbox.paypal.com/cgi-bin/webscr'
    });

    // Page tracking
    var _gaq = [
        ['_setAccount', 'UA-2544686-8'],
        ['_trackPageview']
    ];

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
</script>
</body>
</html>
